@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 125, 125, 250;
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background-color: black;
}

body::before {
  position: absolute;
  background: url("/bg.jpg");
  background-size: cover;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.2;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #4a148c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6a1b9a;
}

.hero-title {
  background: -webkit-linear-gradient(right, #4a148c, #1e3a8a, #4a148c);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moving-bg;
  animation-direction: alternate;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moving-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 0;
  }
}
